<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basedul_islam.gpa_calculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_of_gpa_calculator"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LevelOneTermOne" />
        <activity android:name=".LevelOneTermTwo" />
        <activity android:name=".LevelTwoTermOne" />
        <activity android:name=".LevelTwoTermTwo" />
        <activity android:name=".LevelThreeTermOne" />
        <activity android:name=".LevelThreeTermTwo" />
        <activity android:name=".LevelFourTermOne" />
        <activity android:name=".LevelFourTermTwo" />
        <activity android:name=".GPA_ResultShow"></activity>
    </application>

</manifest>